{% extends "base.html" %}

{% block content %}
<h2>Liste des Contacts</h2>

<form method="GET" action="/" class="mb-4">
    <div class="input-group">
      <input
        type="text"
        name="search"
        class="form-control"
        placeholder="Recherchez par nom, numéro ou email"
        value="{{ search_query }}"
      />
      <button class="btn btn-primary" type="submit">Rechercher</button>
    </div>
  </form>
  
  {% if contacts|length == 0 %}
    <p class="text-danger">Aucun contact trouvé pour "{{ search_query }}"</p>
  {% endif %}
  


<a href="{{ url_for('add_contact') }}">Ajouter un contact</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.id }}</td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.email }}</td>
            <td>
                <a href="{{ url_for('edit_contact', contact_id=contact.id) }}">Modifier</a>
                <a href="{{ url_for('delete_contact', contact_id=contact.id) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
